certifi==2018.8.24
chardet==3.0.4
coinmarketcap==5.0.3
Django==1.11.29
django-extensions==2.1.2
django-money==0.14.3
idna==2.7
parse==1.8.4
praw==6.0.0
prawcore==1.0.0
py-moneyed==0.7.0
pytz==2018.5
requests==2.19.1
requests-cache==0.4.13
six==1.11.0
typing==3.6.6
update-checker==0.16
urllib3==1.23
